@import "themeswitch.scss";

hbw-nav {
	position: fixed;
	top: 0;
	right: -100%;

	background-color: var(--background3);
	box-shadow: var(--shadow-light);

	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;

	transition: 
		right 0.4s ease-in-out,
		top 0.4s ease-in-out,
		visibility 0.4s;

	&:not(.open) {
		visibility: hidden;
	}

	&.open {
		right: 0;
	}

	@media only screen and (max-width: 767px) {
		width: 100vw;
		right: 0;
		left: 0;
		top: -100%;

		&.open {
			top: 0;
		}
	}

	a {
		display: flex;
		width: 100%;
		align-items: center;

		* {
			padding: 0.1em;
		}

		h2 {
			flex-grow: 1;
		}

	}

	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;

		a {
			font-weight: bold;
			letter-spacing: 2px;

			img {
				margin: 0.5em;
				height: 1.5em;
			}
		}
	}
}
