@import "palette.scss";

* {
	padding: 0;
	margin: 0;
	vertical-align: middle;
	transition: filter 0.4s;
}

a {
	text-decoration: none;
	color: black;
}

button {
	padding: 0.2em;
	margin: 0.8em;
	border: none;
	border-radius: 1em;
	cursor: pointer;
	background-color: #0000;
	&:hover { translate: 0 -2%; }
	&:active { translate: 0 2%; }
}

section {
	height: calc(100vh - var(--header-height));
	box-sizing: border-box;
	background-color: var(--background1);
}

.columnar {
	display: flex;
	padding: 2vw;

	& > div {
		flex-grow: 1;
	}
}

.panel {
	background-color: var(--background3);
	margin: 2vw;
	border-radius: 1em;
	box-shadow: var(--shadow-wide);
}

img {
	height: 3em;
}
