@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap");
nav {
  position: fixed;
  top: 0;
  right: -100%;
  background-color: var(--background3);
  box-shadow: var(--shadow-light);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: right 0.4s ease-in-out, top 0.4s ease-in-out, visibility 0.4s;
}
nav:not(.open) {
  visibility: hidden;
}
nav.open {
  right: 0;
}
@media only screen and (max-width: 767px) {
  nav {
    width: 100vw;
    right: 0;
    left: 0;
    top: -100%;
  }
  nav.open {
    top: 0;
  }
}
nav a {
  display: flex;
  width: 100%;
  align-items: center;
}
nav a * {
  padding: 0.1em;
}
nav a h2 {
  flex-grow: 1;
}
nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
nav div a {
  font-weight: bold;
  letter-spacing: 2px;
}
nav div a img {
  margin: 0.5em;
  height: 1.5em;
}

nav > span img {
  height: 2em;
  transition: translate ease-in-out 0.4s, opacity 0.4s, filter 0.4s;
  cursor: pointer;
}

.dark nav > span img {
  translate: 50%;
}
.dark nav > span img.icon-dark {
  opacity: 0;
}

html:not(.dark) nav > span img {
  translate: -50%;
}
html:not(.dark) nav > span img.icon-light {
  opacity: 0;
}

header {
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: var(--shadow-light);
  background-color: var(--background2);
}
header span {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  header span:first-child img {
    height: 2rem;
  }
  header span:first-child h1 {
    font-size: 1.5rem;
  }
}
header span:last-child {
  justify-content: right;
}
header span:last-child a {
  word-wrap: break-word;
  font-size: 14pt;
}
header span:last-child a img {
  height: 1em;
  margin: 0.5em;
}
header span:last-child a:after {
  content: "Incompatible browser? Visit the old site here!";
}
@media only screen and (max-width: 767px) {
  header span:last-child a:after {
    content: "Old site";
  }
}

:root {
  font-size: 16pt;
  font-family: "opensans", sans-serif;
  --shadow-light: -0.1em 0px 0.3em 0.2em #0002;
  --background1: #ffffff;
  --background2: #f7f7f7;
  --background3: #efefef;
  --text-colour: #000000;
}
:root h1, :root h2 {
  font-family: "raleway", sans-serif;
  font-style: italic;
}
:root h1, :root h2, :root a, :root p {
  color: var(--text-colour);
}
:root div, :root nav, :root header, :root section, :root button {
  transition: background-color 0.4s;
}

.dark {
  --background1: #151311;
  --background2: #282420;
  --background3: #302924;
  --text-colour: #eeeeee;
}
.dark img:not(.noinvert) {
  filter: invert(1);
}

* {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  transition: filter 0.4s;
}

a {
  text-decoration: none;
  color: black;
}

button {
  padding: 0.2em;
  margin: 0.8em;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
button:hover {
  translate: 0 -2%;
}
button:active {
  translate: 0 2%;
}

section {
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--background1);
}

img {
  height: 3em;
}

/*# sourceMappingURL=style.css.map */
