@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  font-size: 16pt;
  --header-height: 3em;
  --shadow-light: -0.1em 0 0.3em 0.2em #0002;
  --shadow-small: 0 0 0.5em 0.2em #0001;
  --shadow-wide: -0.1em 0.1em 1em 0.2em rgb(var(--background3) / 0.7);
  --background1: #ffffff;
  --background2: #ededed;
  --background3: #e8e8e8;
  --text-colour: #000000;
  --text-faded: #444444;
  --theme: #b418;
}
@media only screen and (max-width: 767px) {
  :root {
    font-size: 14pt;
  }
}

.dark {
  --background1: #151311;
  --background2: #282420;
  --background3: #302924;
  --text-colour: #eeeeee;
  --text-faded: #cccccc;
  --theme: #f738;
}
.dark img.invert {
  filter: invert(1);
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
#home h1 {
  font-size: 2.5rem;
  margin: 1em;
}
#home > a {
  margin: 0.2em;
  font-size: 1.8rem;
  background-color: var(--background2);
  border: 0.2em solid var(--background3);
  padding: 0.3em;
  white-space: nowrap;
  border-radius: 1em;
  box-shadow: var(--shadow-light);
  text-shadow: 0 0 1em #fff;
}
#home > a:hover {
  box-shadow: var(--shadow-light) #fff;
}
#home > a:active {
  transform: translateY(10%);
}
#home reel-entry {
  position: absolute;
  top: 20em;
  transition: all 0.8s ease-in-out;
  width: 25em;
  padding: 2em 0;
}
#home reel-entry[data-pos="-3"] {
  transform: translateX(calc(-50vw - 100%));
}
#home reel-entry[data-pos="-2"] {
  transform: translateX(-200%);
}
#home reel-entry[data-pos="-1"] {
  transform: translateX(-100%);
}
#home reel-entry[data-pos="0"] {
  transform: translateX(0%);
}
#home reel-entry[data-pos="1"] {
  transform: translateX(100%);
}
#home reel-entry[data-pos="2"] {
  transform: translateX(200%);
}
#home reel-entry[data-pos="3"] {
  transform: translateX(calc(50vw + 100%));
  visibility: hidden;
  transition: none;
}
#home reel-entry img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  box-shadow: var(--shadow-light);
}
@media only screen and (max-width: 767px) {
  #home reel-entry {
    width: 15em;
    top: 25em;
  }
}

:host {
  background-color: var(--background2);
}
:host figcaption {
  text-align: left;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#about div {
  display: flex;
  align-items: center;
}
#about div:last-child {
  flex-direction: row-reverse;
  text-align: right;
}
#about div img {
  width: 30vw;
  height: auto;
  aspect-ratio: 16/9;
  padding: 0.5em;
  margin: 1em;
  border-radius: 2em;
  background-color: var(--background2);
  box-shadow: var(--shadow-light);
}
#about div p {
  padding: 2em;
  line-height: 1.5;
  font-size: 1.2rem;
}
@media only screen and (max-width: 767px) {
  #about {
    height: auto;
    justify-content: flex-start;
  }
  #about div, #about div:last-child {
    text-align: center;
    flex-direction: column;
  }
  #about div img, #about div:last-child img {
    width: 90%;
  }
}

#learn {
  justify-content: center;
}
#learn fw-course {
  margin: 1.5em;
  border-radius: 1.5em;
  height: calc(100vh - 3em - var(--header-height));
}
#learn fw-course hr {
  box-shadow: var(--shadow-light);
}
#learn fw-course p {
  margin: 1em;
  font-style: italic;
  color: var(--text-faded);
}
#learn fw-course iframe {
  aspect-ratio: 16/9;
  width: calc(100% - 3em);
  height: auto;
  border-radius: 1em;
  margin: 0.5em;
  box-shadow: var(--shadow-light);
}
#learn fw-course a {
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  #learn {
    height: auto;
    justify-content: flex-start;
  }
}

#team ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#team li {
  margin: -6em;
  position: absolute;
  transition: all 0.3s ease-in;
}
#team li[data-pos="-2"] {
  transform: translateX(-120%) scale(0.8);
  z-index: 3;
}
#team li[data-pos="-1"] {
  transform: translateX(-80%) scale(0.9);
  z-index: 4;
}
#team li[data-pos="0"] {
  z-index: 5;
}
#team li[data-pos="1"] {
  transform: translateX(80%) scale(0.9);
  z-index: 4;
}
#team li[data-pos="2"] {
  transform: translateX(120%) scale(0.8);
  z-index: 3;
}
#team li[data-pos="-1"], #team li[data-pos="1"] {
  opacity: 0.7;
  filter: blur(2px) grayscale(10%);
}
#team li[data-pos="-2"], #team li[data-pos="2"] {
  opacity: 0.4;
  filter: blur(4px) grayscale(20%);
}
#team team-member img {
  width: 6em;
  height: auto;
  aspect-ratio: 1;
  padding: 0.4em;
  background-color: var(--colour);
  border-radius: 50%;
  left: 100%;
  position: relative;
  left: calc(50% - 3.5em);
  top: -25%;
}
#team team-member h3 {
  text-align: center;
  padding: 0.5em;
  margin-top: -4.5em;
}
#team team-member p {
  height: 65%;
  line-height: 1.3;
  margin: 0 0.5em 0.4em 0.5em;
}
#team team-member small {
  padding-left: 2em;
  color: black;
}
#team team-member time {
  color: black;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15em;
}
:host > div {
  display: inline-block;
  background-color: var(--background2);
  box-shadow: var(--shadow-light);
  height: 20em;
  border-radius: 2.5em;
}
:host > div div {
  background-color: var(--colour);
  padding-top: 0.1em;
  border-bottom-left-radius: 2.5em;
  border-bottom-right-radius: 2.5em;
  height: 2.9em;
}
:host > div div hr {
  width: 80%;
}

#jobs {
  display: flex;
}
#jobs #job-info {
  background-color: var(--background2);
  box-shadow: var(--shadow-light);
  margin: 1em;
  padding: 1em;
  border-radius: 1.5em;
  width: 45%;
}
#jobs #job-info img {
  border-radius: 1em;
  height: 8em;
  float: right;
  box-shadow: var(--shadow-light);
}
#jobs #job-info span, #jobs #job-info p, #jobs #job-info ul {
  margin-left: 1em;
  padding-bottom: 2em;
}
#jobs form {
  margin-top: 0.5em;
  width: 55%;
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 40vh;
}
#jobs form div {
  display: flex;
  flex-direction: column;
}
#jobs form div textarea, #jobs form div input[type=date], #jobs form div input[type=text], #jobs form div input[type=tel], #jobs form div input[type=email], #jobs form div input[type=submit], #jobs form div input::file-selector-button {
  box-sizing: border-box;
  background-color: var(--background2);
  border: 2px solid var(--background3);
  box-shadow: var(--shadow-small) inset;
  font-size: 0.8rem;
  padding: 0.3em;
  border-radius: 1em;
}
#jobs form div input[type=range] {
  width: 50%;
  background-color: none;
  border-radius: 0.7em;
  --fill-color: red;
}
#jobs form div input[type=range]::-webkit-slider-runnable-track, #jobs form div input[type=range]::-moz-range-track {
  background-color: var(--background1);
  height: 1.4em;
  border: 0.1em solid var(--background3);
  border-radius: 0.7em;
  box-shadow: var(--shadow-small) inset;
  width: 105%;
}
#jobs form div input[type=range]::-webkit-slider-thumb, #jobs form div input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  background-color: var(--background3);
  box-shadow: var(--shadow-light);
  border: none;
}
#jobs form div input[type=range]::webskit-progress-value, #jobs form div input[type=range]::-mox-range-progress {
  background-color: var(--background2);
}
#jobs form div input[type=submit], #jobs form div input::file-selector-button {
  color: var(--text-color);
  box-shadow: var(--shadow-small);
}
#jobs form div input[type=submit]:hover, #jobs form div input::file-selector-button:hover {
  color: var(--text-faded);
  cursor: pointer;
}
#jobs form div textarea {
  height: auto;
  flex-grow: 2;
}
#jobs form div textarea:disabled {
  background-color: var(--background3);
}
#jobs form div span input {
  width: 49%;
}
#jobs form div span input:last-child {
  float: right;
}
#jobs form div > * {
  margin: 0.2em;
  width: 90%;
}
#jobs form div div {
  display: flex;
  flex-direction: column;
}
#jobs form div div label {
  text-align: right;
  font-weight: bold;
  font-style: italic;
}
#jobs form div div label input {
  float: left;
}
#jobs form div:last-child {
  align-items: center;
  grid-column: 1/3;
}
#jobs form div:last-child > * {
  width: 96%;
}
#jobs form div:last-child input[type=file] {
  float: right;
}
#jobs form div:last-child hr {
  width: 80%;
  margin: 0.5em;
}
#jobs form div:last-child tt {
  font-family: monospace;
  color: var(--text-faded);
  font-size: 0.8rem;
}
#jobs #application-modal {
  visibility: collapse;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5333333333);
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#jobs #application-modal div {
  width: 40%;
  text-align: center;
  border-radius: 1em;
  padding: 1em;
  background-color: var(--background3);
  box-shadow: var(--shadow-light);
}
#jobs #application-modal div * {
  margin-bottom: 1.5em;
}
#jobs #application-modal.modal {
  visibility: visible;
}
@media only screen and (max-width: 767px) {
  #jobs {
    height: 350vh;
    align-items: center;
  }
  #jobs #job-info img {
    float: none;
    aspect-ratio: 16/9;
    height: auto;
    margin-bottom: 1em;
  }
  #jobs form, #jobs #job-info {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}

:host {
  box-shadow: var(--shadow-light);
  background-color: var(--background2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
:host hr {
  width: 80%;
}
:host small {
  text-align: center;
  padding: 1em;
}
:host div {
  display: flex;
  align-items: center;
  justify-content: center;
}
:host div * {
  margin: 0.5em;
}

#contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#contact h2 {
  font-size: 3rem;
}
#contact div {
  display: flex;
  align-items: center;
  height: 60vh;
}
#contact div a {
  padding: 2vh;
}
#contact div a img {
  filter: saturate(0) brightness(0.1);
}
#contact div a::before, #contact div a::after {
  position: fixed;
  left: calc(-50vw + 50%);
  width: 100vw;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
  text-align: center;
  color: var(--color);
}
#contact div a::before {
  content: var(--name);
  top: 12vh;
  font-size: 4vh;
  font-weight: bolder;
}
#contact div a::after {
  content: var(--subtitle);
  top: 18vh;
}
#contact div a:hover::before, #contact div a:hover::after {
  visibility: visible;
  opacity: 1;
}
#contact div a:hover img {
  filter: none;
}

.dark #contact div a img {
  filter: saturate(0) brightness(8);
}
.dark #contact div a:hover img {
  filter: none;
}
.dark #contact div a:hover img.lighten {
  filter: saturate(1) brightness(2);
}

* {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  transition: filter 0.4s, background-color 0.4s;
  color: var(--text-colour);
  font-family: "opensans", sans-serif;
}

::selection {
  background: var(--theme);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
}

body {
  overflow-x: hidden;
  background-color: var(--background1);
}
body > hr {
  width: 80%;
  margin: 2em 10%;
}

h1, h2, h3, h4, small {
  font-family: "raleway", sans-serif;
  font-style: italic;
}

body, div, header, button {
  transition: background-color 0.4s;
}

a {
  text-decoration: none;
}

img {
  height: 3em;
}

button {
  padding: 0.2em;
  margin: 0.8em;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  background-color: transparent;
}
button:hover {
  translate: 0 -2%;
}
button:active {
  translate: 0 2%;
}

section {
  box-sizing: border-box;
  height: calc(100vh - var(--header-height));
  overflow: hidden;
}

body > p {
  font-family: "raleway", sans-serif;
  line-height: 1.5;
  margin: 6em 2em;
  font-size: 1.4rem;
  text-align: center;
}

.columnar {
  display: flex;
}
@media only screen and (max-width: 767px) {
  .columnar {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
